@charset "Shift_Jis";

.menu {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: stretch;
  align-items: stretch;
  text-align: center;
  height: 0px;
  padding: 85px 0px 85px;
  margin: 0px;
}

.pics {
  width: 30px;
  height: 30px;
  text-align: center;
  transform: translate(0%, -20%);
  }

nav ul {

    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;

  }
  nav ul::after {
    display: block;
    clear: both;
    content: '';
  }
  nav ul li {
    position: relative;
    float: left;
    border: 2px solid #fff;
  }
  nav ul li:not(:first-child) {
    border-left: none;
  }
  nav ul li:hover {
    background-color: rgba(100,0,0,0.6);
  }
  nav ul li a {
    display: inline-block;
    padding: 1em 0em;
    /*バーサイズ*/
    width: 140px;
   height: 15px;
    text-align: center;
    
    vertical-align: middle;
    color: #fff;
    line-height: 1;

    text-decoration: none;
    white-space: nowrap;
  }
  nav ul ul {
    position: absolute;
    top: 100%;
    left: -2px;
  }
  nav ul ul li {
    float: none;
    margin: 0;
    height: 60px;
    line-height: 4;
  }
  nav ul ul li:not(:first-child) {
    border: 2px solid #fff;
    border-top: none;
  }
  nav ul ul ul {
    position: absolute;
    top: -2px;
    left: 100%;
  }

  ul ul {
    visibility: hidden;
    opacity: 0;
    transition: .2s ease-in-out;
    transform: translateY(10px);
  }
  ul ul ul {
    transform: translateX(20px) translateY(0);
  }
  ul li:hover > ul {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
  ul ul li:hover > ul {
    transform: translateX(0) translateY(0);
  }

